<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>详情页</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smain.js' %}"></script>
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script type="text/javascript">
        function addcart(goodid) {
            $.ajax(
                {
                    url:'/carter/addcart/',
                    type:'get',
                    datatype:'json',
                    data:{
                        'goodid':goodid,
                        "gcount":"1",
                     },
                    success:function (data) {
                        location.href = "{% url 'catinfo'%}"
                     },
                     error:function (error) {
                        console.log(error);
                     }
                }
            )
        }
    </script>


<body>
    <div id="BTop">
        <div>
            {% if request.session.user_name %}
                <span style="margin-left:30px">欢迎您,{{request.session.user_name}}</span>
                <a href="{% url 'dellogin' %}">退出</a>
            {% else %}
                <a href="{% url 'login' %}">请登录</a>
                <a href="{% url 'register' %}">免费注册</a>
            {% endif %}
            <!--需改进-->
            <div>
                <a href="{% url 'Saddres' %}">查看地址</a>
                <a href="{% url 'address' %}">添加收获地址</a>
                <a href="/">首页</a>
            </div>
        </div>
    </div>
    <div style="width: 100%">
        <img src="{% static 'img/mains.jpg' %}" alt="" style="width: 100%">
    </div>
    <div id="pink">
        <div>

        </div>
    </div>
    <div>
        <div id="books">
            <img src="/{{goodone.picture}}">
        </div >
        <div>

        </div>
    </div>
{{goodone.title}}
{{goodone.price}}
{{goodone.desc}}

<a href="{{goodone.get_adcart_url}}">加入购物车1</a>
    <a onclick="addcart({{goodone.id}})">加入购物车2</a>
</body>
</html>