<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
    <script src="{% static 'js\jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js\register.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css\register.css' %}">


</head>
<body>
    <form action="{% url 'register_sn' %}" method="post">
        {% csrf_token %}
        <div id="registerBox">
            <div>
                <span>用户名:</span>
                <input type="text" name="user-name" id="user_name">
                <p class="yanzheng">{{ users }}</p>
            </div>
            <div>
                <span>密码:</span>
                <input type="password" name="user_password" id="user_password">
                <p >{{ message }}</p>
            </div>

            <div>
                <span>确认密码:</span>
                <input type="password" name="user_cpwd" id="user_cpwd">
            </div>
            <div>
                <span>Email:</span>
                <input type="text" name="user_email" id="user_email">
            </div>
            <div>
                <span>电话:</span>
                <input type="text" name="user_phone" id="user_phone">
            </div>

            <input type="submit" value="注册" name="">

        </div>

    </form>
</body>
</html>